doctype html
html
	head
		title lua.lt - gallery

		link(href="static/css/style.css" rel="stylesheet")
		link(href="static/images/cherry-blossom_1f338.ico" rel="shortcut icon")

		<meta name="title" content="🌸 lua.lt gallery">
		<meta name="description" content="a place for all my silly pictures :))">
		<meta name="theme-color" content="#FDCEDF">

		<meta property="og:type" content="profile">
		<meta property="og:profile:username" content="lualt">
		<meta property="og:profile:gender" content="female">
		<meta property="og:title" content="🌸 lua.lt">
		<meta property="og:description" content="a place for all my silly pictures :))">
		<meta property="og:url" content="https://lua.lt/gallery">

		<meta property="twitter:card" content="summary">
		<meta property="twitter:title" content="🌸 lua.lt">
		<meta property="twitter:description" content="a place for all my silly pictures :))">
		<meta property="twitter:url" content="https://lua.lt/gallery">
	body
		h1 ~ gallery ~
		p(style="margin-top: 0;") lemme go <a href="/"><- back</a>

		div(class="gallery-item")
			img(src="/static/images/gallery/cmd-robux.png")
			b 22/7/2024
			p on the legitimoose.com minecraft server GetCmdRolled made a figura avatar where you were able to run lua code on his machine, so naturally i decided to steal a robux code :)). ofcourse i fully had permission to do this lol otherwise i wouldnt
