doctype html
html
	head
		title lua.lt

		link(href="static/css/style.css" rel="stylesheet")
		link(href="static/images/cherry-blossom_1f338.ico" rel="shortcut icon")

		<meta name="title" content="🌸 lua.lt">
		<meta name="description" content="a place for all my random stuff :))">
		<meta name="theme-color" content="#FDCEDF">

		<meta property="og:type" content="profile">
		<meta property="og:profile:username" content="lualt">
		<meta property="og:profile:gender" content="female">
		<meta property="og:title" content="🌸 lua.lt">
		<meta property="og:description" content="a place for all my random stuff :))">
		<meta property="og:url" content="https://lua.lt">

		<meta property="twitter:card" content="summary">
		<meta property="twitter:title" content="🌸 lua.lt">
		<meta property="twitter:description" content="a place for all my random stuff :))">
		<meta property="twitter:url" content="https://lua.lt">
	body
		h1 Welcome to lua.lt
			span(class="visits") page visits: #{visits}
		ul
			li
				a(href="https://lua.lt") lua.lt
				p 🞂 landing page
			li
				a(href="https://live.lua.lt") live.lua.lt
				p 🞂 livestreaming
			li
				a(href="https://discord.lua.lt") discord.lua.lt
				p 🞂 discord server
		h3 Contact
		ul
			li
				p @lualt 🞂 discord account
			li
				a(href="mailto:mail@lua.lt") mail@lua.lt
				p 🞂 email

		h3 Web Badges (88x31 & 80x15)
			div(class="badges")
				a(href="https://lua.lt")
					img(src="/static/images/badge.png" alt="lua.lt")
			div(class="badges")
				a(href="https://lua.lt")
					img(src="/static/images/badge-small.png" alt="lua.lt")
