doctype html
html
	head
		title lua.lt
		link(href="static/css/style.css" rel="stylesheet")
		link(href="static/images/cherry-blossom_1f338.ico" rel="shortcut icon")
	body
		h1 Welcome to lua.lt
			span(class="visits") page visits: #{visits}
		ul
			li
				a(href="https://lua.lt") lua.lt
				p 🞂 landing page
			li
				a(href="https://live.lua.lt") live.lua.lt
				p 🞂 livestreaming
		h3 Contact
		ul
			li
				p @lualt 🞂 discord account
			li
				a(href="https://discord.gg/ZpAaDx66jA") .gg/ZpAaDx66jA
				p 🞂 discord server
			li
				a(href="mailto:mail@lua.lt") mail@lua.lt
				p 🞂 email
