doctype html
html
	head
		title lua.lt

		link(href="static/css/style.css" rel="stylesheet")

		link(href="https://indieauth.com/auth" rel="authorization_endpoint")

		<meta name="title" content="🌸 lua.lt">
		<meta name="description" content="a place for all my random stuff :))">
		<meta name="theme-color" content="#FDCEDF">

		<meta property="og:type" content="profile">
		<meta property="og:profile:username" content="lualt">
		<meta property="og:profile:gender" content="female">
		<meta property="og:title" content="🌸 lua.lt">
		<meta property="og:description" content="a place for all my random stuff :))">
		<meta property="og:url" content="https://lua.lt">

		<meta property="twitter:card" content="summary">
		<meta property="twitter:title" content="🌸 lua.lt">
		<meta property="twitter:description" content="a place for all my random stuff :))">
		<meta property="twitter:url" content="https://lua.lt">
	body
		div(class="title")
		div
			div(class="visits")
			{% for number in visits|string %}
			div(class="number number-{{number}}")
			{% endfor %}
		div(class="header-links")
		ul
			li
				a(class="link link-lua-lt" href="https://lua.lt")
		div(class="header-contact")
		ul
			li
				a(class="link link-xmpp" href="xmpp:lualt@lua.lt" rel="me")
				div(class="text text-xmpp")
			li
				a(class="link link-email" href="mailto:mail@lua.lt" rel="me")
				div(class="text text-email")
			li
				a(class="link link-discord" href="https://discord.gg/AT5aztECSd")
				div(class="text text-discord")
