.drawing {
	margin: 0.5em;
	padding-bottom: 10em;
}

.drawing-buttons button {
	height: 5em;
	width: 5em;
	border-radius: 100%;
	border: 0.5em solid var(--pink);
	vertical-align: bottom;
}

.drawing-buttons #color-black {
	background-color: #000;
}

.drawing-buttons #color-red {
	background-color: #f00;
}

.drawing-buttons #color-white {
	background-color: #fff;
}

.drawing-buttons #send {
	background-color: #a7f5a7;
}

.drawing-canvases {
	margin-top: 1em;
	display: grid;
}

.drawing-canvases canvas {
	grid-column: 1;
	grid-row: 1;
	border: 0.5em solid var(--pink);
	border-radius: 0.5em;
	width: calc(100% - 1em);
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	cursor: crosshair;
}

.drawing-canvases #canvas-black {
	background-color: #fff;
}
